{{yield}}
{{activity-planner-navigation}}
<div class="layout-row layout-align-start-start">
{{activity-planner-completed}}
{{activity-planner-new}}
{{activity-planner-pending}}
{{activity-planner-cancelled}}
{{activity-planner-backlog}}
{{activity-planner-scheduled}}
</div>
{{activity-planner-activity-plan}}

{{input-textbox}}

